body {
  background-color: lightgray;
}

p {
  color: white;
}

ul {
  list-style: none;
}

li {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.add-to-list {
  width: 35vh;
  margin-right: 20px;
  text-align: center
}

.todo-app {
  height: 80vh;
  min-height: 400px;
  width: 80vw;
  min-width: 600px;
  margin: 10vh auto 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  
  border: 1px solid white;
  background-color: white;

  box-shadow: 0 0 30px -5px #000;
}

.incomplete-task span{
  text-decoration: none;
}

.complete-task span{
  text-decoration: line-through;
  font-style: italic;
}

.delete-button {
  color: black;
  text-decoration: none;
}